/**
 * Tailwind CSS file
 */ 
/* Font */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes smooth-blink-bar {
    0% { box-shadow: 1px 0 0 rgba(255, 255, 255, 1) inset; }
    50% { box-shadow: 1px 0 0 rgba(255, 255, 255, 0) inset; }
    100% { box-shadow: 1px 0 0 rgba(255, 255, 255, 1) inset; }
}

/* Custom cursor blink */
.xterm-cursor-bar {
    animation: smooth-blink-bar 1.5s ease-in-out infinite;

    transition: transform 0.15s ease-in-out;
}

/* TODO: Make the text not change opacity for block mode */
@keyframes smooth-blink-block {
    /* 0% { background-color: rgba(255, 255, 255, 1); }
    50% { background-color: rgba(255, 255, 255, 0); }
    100% { background-color: rgba(255, 255, 255, 1); } */

    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.xterm-cursor-block {
    /* Overrides !important (which is set by default) */
    /* background-color: rgba(255, 255, 255, 1);
    mix-blend-mode: lighten; */

    animation: smooth-blink-block 1.5s ease-in-out infinite;

    /* position: fixed;
    height: initial !important; */
}

/* .xterm-cursor {
    position: absolute;
    height: initial !important;
    transition: left 1s ease-in-out, top 1s ease-in-out;

    left: 0;
    top: 0;
} */

.xterm-screen {
    position: relative;
}

/* Glow */
@keyframes rgb-glow {
    0% { border-color: rgb(255, 0, 0); box-shadow: 0 0 var(--border-glow-size) rgba(255, 0, 0, 0.8); }
    25% { border-color: rgb(0, 255, 0); box-shadow: 0 0 var(--border-glow-size) rgba(0, 255, 0, 0.8); }
    50% { border-color: rgb(0, 0, 255); box-shadow: 0 0 var(--border-glow-size) rgba(0, 0, 255, 0.8); }
    75% { border-color: rgb(255, 0, 255); box-shadow: 0 0 var(--border-glow-size) rgba(255, 0, 255, 0.8); }
    100% { border-color: rgb(255, 0, 0); box-shadow: 0 0 var(--border-glow-size) rgba(255, 0, 0, 0.8); }
}

.terminal {
    --border-glow-size: 25px;

    position: relative;
    animation: rgb-glow 5s infinite linear;
    border-radius: 10px;
    padding: 10px;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px; /* Thin scrollbar */
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.8); /* Dark background */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, rgb(0, 255, 255), rgb(0, 100, 255)); /* Neon glow effect */
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 255, 255, 0.7); /* Outer glow */
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, rgb(0, 255, 0), rgb(0, 150, 255)); /* Slightly different on hover */
}
